In [21]:
import pandas as pd
import os

In [22]:
df = pd.read_csv(r"D:\Jupyter\USA_Housing.csv")
df.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\r\nLaurabury, NE 37..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\r\nLake Kathleen, ..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\r\nDanieltown, WI 064..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\r\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\r\nFPO AE 09386

In [23]:
df.columns

Index(['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms',
       'Avg. Area Number of Bedrooms', 'Area Population', 'Price', 'Address'],
      dtype='object')

In [26]:
df.index

Index(['208 Michael Ferry Apt. 674\r\nLaurabury, NE 37010-5101',
       '188 Johnson Views Suite 079\r\nLake Kathleen, CA 48958',
       '9127 Elizabeth Stravenue\r\nDanieltown, WI 06482-3489',
       'USS Barnett\r\nFPO AP 44820', 'USNS Raymond\r\nFPO AE 09386',
       '06039 Jennifer Islands Apt. 443\r\nTracyport, KS 16077',
       '4759 Daniel Shoals Suite 442\r\nNguyenburgh, CO 20247',
       '972 Joyce Viaduct\r\nLake William, TN 17778-6483',
       'USS Gilbert\r\nFPO AA 20957', 'Unit 9446 Box 0958\r\nDPO AE 97025',
       ...
       '86727 Kelly Plaza\r\nLake Veronica, IL 04474',
       '2871 John Lodge\r\nAmychester, GU 61734-5597',
       'Unit 2096 Box 9559\r\nDPO AE 80983-8797',
       '5259 David Causeway Apt. 975\r\nSouth Alexstad, IL 42719-2498',
       '5224 Lamb Passage\r\nNancystad, GA 16579',
       'USNS Williams\r\nFPO AP 30153-7653',
       'PSC 9258, Box 8489\r\nAPO AA 42991-3352',
       '4215 Tracy Garden Suite 076\r\nJoshualand, VA 01707-9165',
       'USS Wallace\r\nFPO AE 73316',
       '37778 George Ridges Apt. 509\r\nEast Holly, NV 29290-3595'],
      dtype='object', name='Address', length=5000)

In [37]:
df.shape

(5000, 6)

In [27]:
df.reset_index(inplace=True)
df

,Address,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
0,"208 Michael Ferry Apt. 674\r\nLaurabury, NE 37...",79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06
1,"188 Johnson Views Suite 079\r\nLake Kathleen, ...",79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06
2,"9127 Elizabeth Stravenue\r\nDanieltown, WI 064...",61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06
3,USS Barnett\r\nFPO AP 44820,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06
4,USNS Raymond\r\nFPO AE 09386,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05
...,...,...,...,...,...,...,...
4995,USNS Williams\r\nFPO AP 30153-7653,60567.944140,7.830362,6.137356,3.46,22837.361035,1.060194e+06
4996,"PSC 9258, Box 8489\r\nAPO AA 42991-3352",78491.275435,6.999135,6.576763,4.02,25616.115489,1.482618e+06
4997,"4215 Tracy Garden Suite 076\r\nJoshualand, VA ...",63390.686886,7.250591,4.805081,2.13,33266.145490,1.030730e+06
4998,USS Wallace\r\nFPO AE 73316,68001.331235,5.534388,7.130144,5.44,42625.620156,1.198657e+06
4999,"37778 George Ridges Apt. 509\r\nEast Holly, NV...",65510.581804,5.992305,6.792336,4.07,46501.283803,1.298950e+06

In [28]:
df.iloc[0:4, 0:3]

,Address,Avg. Area Income,Avg. Area House Age
0,"208 Michael Ferry Apt. 674\r\nLaurabury, NE 37...",79545.458574,5.682861
1,"188 Johnson Views Suite 079\r\nLake Kathleen, ...",79248.642455,6.002900
2,"9127 Elizabeth Stravenue\r\nDanieltown, WI 064...",61287.067179,5.865890
3,USS Barnett\r\nFPO AP 44820,63345.240046,7.188236

In [29]:
df.loc[0:4, ['Avg. Area Income', 'Avg. Area House Age']]

   Avg. Area Income  Avg. Area House Age
0      79545.458574             5.682861
1      79248.642455             6.002900
2      61287.067179             5.865890
3      63345.240046             7.188236
4      59982.197226             5.040555

In [32]:
X = df.drop('Price', axis=1)
X.head()

,Address,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population
0,"208 Michael Ferry Apt. 674\r\nLaurabury, NE 37...",79545.458574,5.682861,7.009188,4.09,23086.800503
1,"188 Johnson Views Suite 079\r\nLake Kathleen, ...",79248.642455,6.002900,6.730821,3.09,40173.072174
2,"9127 Elizabeth Stravenue\r\nDanieltown, WI 064...",61287.067179,5.865890,8.512727,5.13,36882.159400
3,USS Barnett\r\nFPO AP 44820,63345.240046,7.188236,5.586729,3.26,34310.242831
4,USNS Raymond\r\nFPO AE 09386,59982.197226,5.040555,7.839388,4.23,26354.109472

In [35]:
X.shape

(5000, 6)

In [38]:
y = df['Price']
y.head(10)

Address
208 Michael Ferry Apt. 674\r\nLaurabury, NE 37010-5101    1.059034e+06
188 Johnson Views Suite 079\r\nLake Kathleen, CA 48958    1.505891e+06
9127 Elizabeth Stravenue\r\nDanieltown, WI 06482-3489     1.058988e+06
USS Barnett\r\nFPO AP 44820                               1.260617e+06
USNS Raymond\r\nFPO AE 09386                              6.309435e+05
06039 Jennifer Islands Apt. 443\r\nTracyport, KS 16077    1.068138e+06
4759 Daniel Shoals Suite 442\r\nNguyenburgh, CO 20247     1.502056e+06
972 Joyce Viaduct\r\nLake William, TN 17778-6483          1.573937e+06
USS Gilbert\r\nFPO AA 20957                               7.988695e+05
Unit 9446 Box 0958\r\nDPO AE 97025                        1.545155e+06
Name: Price, dtype: float64

In [39]:
y.shape

(5000,)